* {
    font-family: 'Quantico', sans-serif;
}

html,
body,
header,
.carousel {
    height: 50%;
}

.navbar-brand {
    height: 60px;
    width: 100px;
    margin: 0 16px;
}

.spacer {
    flex: 1;
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
    height: 90%;
}

.view {
    background-image: url('https://i.pinimg.com/564x/f9/52/75/f9527522f4fa950823cd16aef011216b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #245dce;
}

.pagination1 {
    padding-left: 44%;
}

.page-footer,
.top-nav-collapse {
    background-color: #245dce
}

.github-star-badge {
    color: black;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: 'Patrick Hand', cursive;
}

.github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
}

.github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}


/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} */

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: rgb(18, 24, 31) !important;
    }
    footer {
        background: rgb(18, 24, 31) !important;
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #263450
    }
    footer {
        background-color: #263450 !important;
    }
}